<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SURVEY WEB</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<h1>UNICORN SURVEY</h1>

<h2>Thanks for your participation!</h2>

<form action="{{ url_for('submit') }}">
    <p>
        Notes: Unicode is not supported. Please use ASCII characters only.
    </p>
    <table>
        <tr>
            <td>Name</td>
            <td><input type=text size=50 name=name></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type=text size=50 name=email></td>
        </tr>
    </table>
    <table>
        <tr>
            <th colspan="2">Please rate the similarity of the images</th>
        </tr>
        {% for i in range(n_imgs) %}
        <tr>
            <td colspan="2">
                <input type="radio" name="{{ files[i] }}" value="1"> 1
                <input type="radio" name="{{ files[i] }}" value="2"> 2
                <input type="radio" name="{{ files[i] }}" value="3"> 3
                <input type="radio" name="{{ files[i] }}" value="4"> 4
                <input type="radio" name="{{ files[i] }}" value="5"> 5
            </td>
        </tr>
        <tr>
            {% set hue=img_dir +prefices[0] + '__' + files[i] %}
            {% set inte=img_dir + prefices[1] + '__' + files[i] %}
            {% set ori=img_dir + prefices[2] + '__' + files[i] %}
            <td><img src="{{ url_for('static', filename=hue) }}" alt="" style="max-width: 200px; height: auto; "></td>
            <td><img src="{{ url_for('static', filename=inte) }}" alt="" style="max-width: 200px; height: auto; "></td>
            <td><img src="{{ url_for('static', filename=ori) }}" alt="" style="max-width: 200px; height: auto; "></td>

        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>
